<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Static Blog Application</title>
  </head>

  <body class="mx-auto px-2 border-0 bd-example border-0" style="width: 800px">

    <nav class="navbar px-2 sticky-top bg-body-tertiary border rounded-1">
      <ul class="nav nav-underline pb-2">
        <li class="nav-item text-body-secondary">
          <a class="nav-link active" href="/">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <main class="mt-3">
