<%- include("partials/header.ejs") %>

<div>
    <h1 class="blog-post-title"><%= post.title %></h1>
    <p class="blog-post-content"><%= post.content %></p>
</div>

<%- include("partials/footer.ejs", {year:new Date()}) %>