<%- include("partials/header.ejs") %>

<form action="/create-post" , method="POST">
  <div class="mb-3 mt-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      id="title"
      placeholder="Concise title for your blog post"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
    <textarea
      class="form-control"
      name="content"
      id="content"
      placeholder="Write your blog here....."
      rows="3"
    ></textarea>
  </div>
  <div class="mb-4">
    <label for="exampleFormControlInput2" class="form-label">Author</label>
    <input
      type="text"
      name="author"
      class="form-control"
      id="author"
      placeholder="Username"
    />
  </div>
  <button type="submit" class="btn btn-dark">Create Post</button>
</form>

<%- include("partials/footer.ejs", {year: new Date()}) %>
